{% load static %}
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Book A Table</h2>
      <p>Book <span>Your Stay</span> With Us</p>
    </div>

    <div class="row g-0">

      <div class="col-lg-4 reservation-img" style="background-image: url({% static 'img/reservation.jpg' %} );" data-aos="zoom-out" data-aos-delay="200"></div>

      <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
        <form action="." method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    {{ book_a_table_form.name }}
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  {{ book_a_table_form.email }}
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  {{ book_a_table_form.phone }}
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  {{ book_a_table_form.date }}
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {{ book_a_table_form.time }}
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  {{ book_a_table_form.people }}
                  <div class="validate"></div>
                </div>
            </div>
            <div class="form-group mt-3">
                {{ book_a_table_form.message }}
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>
      </div>
    </div>
  </div>
</section>