{% extends 'base.html' %}

{% block content %}
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>User Register</h2>
          <p></p>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
          <div>
            <label>Already have an account? <a href="{% url 'login' %}">Login</a></label>
          </div>
      </div>

    </section>
{% endblock %}