<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="{{ footer_items.address.item_icon }}"></i>
          <div>
            <h4>{{ footer_items.address.item_title }}</h4>
            <p>
                {{ footer_items.address.item_description|safe }}
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="{{ footer_items.reservations.item_icon }}"></i>
          <div>
            <h4>{{ footer_items.reservations.item_title }}</h4>
            <p>
                {{ footer_items.reservations.item_description|safe }}
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="{{ footer_items.opening_hours.item_icon }}"></i>
          <div>
            <h4>{{ footer_items.opening_hours.item_title }}</h4>
            <p>
                {{ footer_items.opening_hours.item_description|safe }}
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
            {% if footer_items.follow_us %}
                <h4>{{ footer_items.follow_us.0.item_title }}</h4>
                <div class="social-links d-flex">
                    {% for follow_us in footer_items.follow_us %}
                        <a href="#" class="{{ follow_us.item_slug }}"><i class="{{ follow_us.item_icon }}"></i></a>
                    {% endfor %}
                </div>
            {% else %}
                <p>No social links available</p>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>