{% load is_manager_tag %}

<nav id="navbar" class="navbar">
        <ul>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>User</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        {% if user|is_manager_tag:'manager' %}
          <li><a href="{% url 'manager:users_reservation' %}">Manager</a></li>
        {% endif %}
        </ul>
      </nav><!-- .navbar -->